<!DOCTYPE html>
<html>
<head>
    <title>Szachy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="styl.css"/>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<center>
<div id="info">
<p>{{nazwa}}</p>
<table width="600">
<tr>
<td width="200">Obecnie ma ruch: {{(Obecnie_gra? "Czarny":"Bialy")}}</td><td width="200">Komunikat: {{komunikat}}</td><td width="200">Czarne: {{czarnekomunikat}}</td>
</tr>
<tr>
<td width="200">Bicie: {{komunikatbicie}}</td><td width="200"></td><td width="200">Biale: {{bialekomunikat}}</td>
</tr>
<tr>
<td width="200"><label> Polacz </label> <input type="checkbox" ng-model="polacz" ng-change="polaczenie()"></td><td width="200"><input ng-model="nazwa" placeholder="Nazwa Pokoju"></td><td width="200">Biale: {{bialekomunikat}}</td>
</tr>
<table>

</div>

<div id="szachy">
    <div class="litery">
        <div ng-repeat="item in kolumny ">{{item}}</div>
    </div>
    <div class="wiersz" ng-repeat="(wie, wiersz) in wiersze">
        <div>{{wiersz}}</div>
        <div>
            <div ng-repeat="(kol, item) in kolumny " ng-click="wierszkolumna(wie, kol)"></div>
        </div>
        <div>{{wiersz}}</div>
    </div>
    <div class="litery">
        <div ng-repeat="item in kolumny ">{{item}}</div>
    </div>
    <div class="pionki">
        <div ng-class="klasa_pionek(pionek, 'czarny')" ng-click="pionekklik(pionek)"
             ng-repeat="pionek in pionki.czarne"></div>
        <div ng-class="klasa_pionek(pionek, '')" ng-click="pionekklik(pionek)" ng-repeat="pionek in pionki.biale"></div>
    </div>
    <div class="pionki">
    </div>
</div>
</center>
<script>


        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http, $interval) {
            $scope.pionki = {
                                czarne : [],
                                biale : [],
                            }

			$scope.Obecnie_gra = 0; //Bialy 0 , Czarny 1
			$scope.komunikat = "Wybierz pionek";
			
						$scope.czarnekomunikat = "8";
			$scope.bialekomunikat = "8";
			
			$scope.nazwa = "";
			$scope.polacz= false;
			
            $scope.kolumny = ["A","B","C","D","E","F","G","H"]; //  
            $scope.wiersze = ["1","2","3","4","5","6","7","8"]; //  
            $scope.aktywnypionek = null;
            
			$scope.badanyWiersz = 0;
			$scope.badanaKolumna1 = 0;
			$scope.badanaKolumna2 = 0;

			$scope.dostepnePozycje = [];
            
			var host = "http://wsi.ovh/pokoj";
			  $http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
			$scope.polaczenie = () =>
			{
				$http.get(host+"&nazwa="+$scope.nazwa).then((r)=>{
				
				if(r.data.nazwa == $scope.nazwa && r.data.dane != undefined)
				{
					var obj = {
					nazwa: $scope.nazwa,
					dane: {pionki: $scope.pionki}
					}
				$http.post({url:host, method:"POST", data:"dane"+ JSON.stringify(obj)}).then((e)=>{},(e)=>{});
				}
				
				console.log(r);
				}, 
				(e)=>{console.log(e);});
			}
            $scope.pionekklik = function(pionek)
            {
				console.log(pionek);
				$scope.dostepnePozycje = [];
				$scope.aktywnypionek = pionek;    
				
				$scope.czyWybranyPionekJestOK();

                if($scope.dostepnePozycje.length == 0)
                    $scope.aktywnypionek = null;

				console.log($scope.dostepnePozycje);
				
				if($scope.aktywnypionek != null)
				$scope.komunikat = "Wykonaj ruch";
				else
				$scope.komunikat = "Wybierz pionek";
            }


            $scope.CzyNaPoluJestPionek = (wiersz, kolumna) =>
            {
            	var pionekWPolu = null;
                    angular.forEach($scope.pionki, function(pionkiGracza, key) {
				        angular.forEach(pionkiGracza, function(pionek, indexPionka){
					        if(wiersz == pionek.wiersz && kolumna == pionek.kolumna)
						        pionekWPolu = pionek;
				        });
				    });
				    console.log(pionekWPolu);
				return pionekWPolu;
            }

            $scope.sprawdzCzyJestBicie = (wiersz, kolumna) =>
            {
                if(wiersz >= 0 && wiersz < 8 && kolumna >= 0 && kolumna < 8)
                {
                    var res = $scope.CzyNaPoluJestPionek(wiersz, kolumna);
                    return res==null;
                }
                return false;
            }
			
			// Funkcja sprawdza czy wybrany pionek jest poprawnie wybrany
			$scope.czyWybranyPionekJestOK = function()
			{
				if($scope.aktywnypionek != null){

					if($scope.aktywnypionek.gracz != $scope.Obecnie_gra)
					{
						$scope.pionekklik(null);
						return;
					}
					
					//Sprawdzamy czy pionek może wykonać ruch oraz czy pionka nie poprzedza nasz inny pionek
					$scope.badanyWiersz = $scope.aktywnypionek.gracz ? $scope.aktywnypionek.wiersz+1:$scope.aktywnypionek.wiersz-1;

                    var res = null;
					var badanyWiersz = $scope.aktywnypionek.gracz ? $scope.aktywnypionek.wiersz+2:$scope.aktywnypionek.wiersz-2;

					$scope.badanaKolumna1 = $scope.aktywnypionek.kolumna-1;
					$scope.badanaKolumna2 = $scope.aktywnypionek.kolumna+1;

					//Ekstrema
					if($scope.badanyWiersz >= 0 && $scope.badanyWiersz < 8)
					{
						if(!($scope.badanaKolumna1 >=0 && $scope.badanaKolumna1 <8))
							$scope.badanaKolumna1 = -1;

						if(!($scope.badanaKolumna2 >=0 && $scope.badanaKolumna2 <8))
							$scope.badanaKolumna2 = -1;
						
						//Sprawdzam czy kolumna 1 jest zajeta
						var kol1Zajeta = true;

						if($scope.badanaKolumna1 > -1)
						{
							kol1Zajeta = $scope.CzyNaPoluJestPionek(
							                            $scope.badanyWiersz,
														$scope.badanaKolumna1); //-1

							if(!kol1Zajeta)
                                $scope.dostepnePozycje.push([$scope.badanyWiersz, $scope.badanaKolumna1]);
                            else if (kol1Zajeta.gracz != $scope.aktywnypionek.gracz)
                             {
                                res = $scope.sprawdzCzyJestBicie(badanyWiersz, $scope.badanaKolumna1-1)
                                 if(res)
                                 $scope.dostepnePozycje.push([badanyWiersz, $scope.badanaKolumna1-1]);
                             }

						}
						
						//Sprawdzam czy kolumna 2 jest zajeta
						var kol2Zajeta = true;

						if($scope.badanaKolumna2 > -1)
						{
							kol2Zajeta = $scope.CzyNaPoluJestPionek(
                                                        $scope.badanyWiersz,
                                                        $scope.badanaKolumna2); //+1


                            if(!kol2Zajeta)
                                $scope.dostepnePozycje.push([$scope.badanyWiersz, $scope.badanaKolumna2]);
                            else if (kol2Zajeta.gracz != $scope.aktywnypionek.gracz)
                             {
                                res = $scope.sprawdzCzyJestBicie(badanyWiersz, $scope.badanaKolumna2+1)
                                if(res)
                                 $scope.dostepnePozycje.push([badanyWiersz, $scope.badanaKolumna2+1]);
                             }
						}
					}
				}				
			}
			
			//Czy mamy ruch
			$scope.fweryfikacji = function(pionek)
			{
			var res = [];
			 var wiersz = pionek.wiersz -1;
			    id(pionek.gracz)
			    {
			        wiersz = pionek.wiersz +1;
			    }
			    var kolumna = pionek.kolumna -1;
			    var kolumna = pionek.kolumna +1;
			}


            $scope.wierszkolumna = function(wiersz, kolumna)
            {
                //console.log([wiersz, kolumna, wiersz % 2, kolumna% 2, (wiersz+kolumna) % 2]);
                //console.log($scope.dostepnePozycje.indexOf([wiersz, kolumna]));

                var ruchOk = false;
				var poleDoZbicia=[];
                var zbij = false

                angular.forEach($scope.dostepnePozycje, function(item,key) {
                     if(item[0] == wiersz & item[1] == kolumna)
                     {
                        console.log(parseInt((wiersz + $scope.aktywnypionek.wiersz) / 2))
                        ruchOk = true;
                     }
                });
				
				

                if($scope.aktywnypionek != null && ruchOk)
                {
                    if(parseInt((wiersz + $scope.aktywnypionek.wiersz)/2) == (wiersz + $scope.aktywnypionek.wiersz)/2 && parseInt((kolumna + $scope.aktywnypionek.kolumna)/2)==(kolumna+$scope.aktywnypionek.kolumna)/2)
					{
                        poleDoZbicia[0] = parseInt((wiersz + $scope.aktywnypionek.wiersz)/2);
                        poleDoZbicia[1] = parseInt((kolumna + $scope.aktywnypionek.kolumna)/2);
                        zbij = true;
                    }
                    $scope.aktywnypionek.wiersz = wiersz;
                    $scope.aktywnypionek.kolumna = kolumna;
					
										//if(pionkiGracza.length == 0)
					 //window.location.href = 'koniec.html';
					var czyByloBicie = false;

					//Bicie
                    if(zbij){
                        angular.forEach($scope.pionki, function(pionkiGracza,key){
                            angular.forEach(pionkiGracza, function(pionek, indexPionka){
                                if(poleDoZbicia[0] == pionek.wiersz && poleDoZbicia[1] == pionek.kolumna){
									if($scope.Obecnie_gra == 1)
									{
										$scope.komunikatbicie = "Czarny zbija bialego";
										$scope.bialekomunikat = pionkiGracza.length-1;
									}
									else
									{
										$scope.komunikatbicie = "Bialy zbija czarnego";
										$scope.czarnekomunikat = pionkiGracza.length-1;
									}
                                    pionkiGracza.splice(pionkiGracza.indexOf(pionek), 1);
									czyByloBicie = true;
									//console.log("POLE " + pionkiGracza.indexOf(pionek));
                                    //console.log("Pionki "+pionkiGracza);
                                }
                            });
                        });
                    }
					
					if(czyByloBicie && $scope.SprawdzCzyPionekMaKolejneBicie(wiersz, kolumna))
					{
						
					}else
					{
					$scope.Obecnie_gra = $scope.Obecnie_gra?0:1;
                    $scope.pionekklik(null);
					}
					
				}
            }
			extr = (x) => x>=0 && x<8;
			
			weryfikujPoleDoBicia = (wiersz, kolumna, wierszP, kolumnaP)=>
			{
				return extr(wiersz + wierszP) && extr(wiersz + wierszP + wierszP) && extr(kolumna + kolumnaP) && extr(kolumna + kolumnaP + kolumnaP)
				&& $scope.CzyNaPoluJestPionek(wiersz + wierszP + wierszP, kolumna+ kolumnaP + kolumnaP) == null
				&& ($scope.CzyNaPoluJestPionek(wiersz + wierszP, kolumna+ kolumnaP) != null
				&& $scope.CzyNaPoluJestPionek(wiersz + wierszP, kolumna+ kolumnaP).gracz != $scope.aktywnypionek.gracz)
			}
			
			
			
			$scope.SprawdzCzyPionekMaKolejneBicie = (wiersz, kolumna) =>
			{
				$scope.dostepnePozycje = [];
				
				var pole1 = weryfikujPoleDoBicia(wiersz, kolumna, 1, 1);
				var pole2 = weryfikujPoleDoBicia(wiersz, kolumna, -1, 1);
				var pole3 = weryfikujPoleDoBicia(wiersz, kolumna, 1, -1);
				var pole4 = weryfikujPoleDoBicia(wiersz, kolumna, -1, -1);
				
				if(pole1) $scope.dostepnePozycje.push([wiersz+2, kolumna+2])
					if(pole2) $scope.dostepnePozycje.push([wiersz-2, kolumna+2])
						if(pole3) $scope.dostepnePozycje.push([wiersz+2, kolumna-2])
							if(pole4) $scope.dostepnePozycje.push([wiersz-2, kolumna-2])
								
				return (pole1 || pole2 || pole3 || pole4);
			}
            
            //Pionek czarny na n3
            $scope.klasa_pionek = function(obj, kolor)
            {
                var klasa = "pionek " + kolor+ " " + $scope.kolumny[obj.kolumna] + " n" + (obj.wiersz+1);
                return  klasa;
            }
			
			$scope.klasa_krolowa = function(obj, kolor)
            {
                var klasa = "pionek " + kolor+ " " + $scope.kolumny[obj.kolumna] + " n" + (obj.wiersz+1);
                return  klasa;
            }

            for(i=0; i<4; i++)
            {

                var pionek = {
                    kolumna: (i * 2)+1,
					gracz:0,
                    wiersz:6
                }

                $scope.pionki.biale.push(pionek);
                var pionek = {
                    kolumna: (i * 2)+1,
					gracz:1,
                    wiersz:0
                }

                $scope.pionki.czarne.push(pionek);
                
                var pionek = {
                    kolumna: (i * 2),
					gracz:0,
                    wiersz:7
                }

                $scope.pionki.biale.push(pionek);
                var pionek = {
                    kolumna: (i * 2),
					gracz:1,
                    wiersz:1
                }

                $scope.pionki.czarne.push(pionek);
            }
        });





</script>

</body>
</html>