<!DOCTYPE html>
<html>
    <head>
        <title>Szachy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<link rel="Stylesheet" type="text/css" href="styl.css" />
    </head>
	
     <body ng-app="myApp" ng-controller="myCtrl">

<div id="info">
<p>Obecnie ma ruch: {{(Obecnie_gra? "Czarny":"Bialy")}}</p>
<p>Komunikat: {{komunikat}}</p>
</div>

        <div id="szachy">
            <div class="litery">
                <div ng-repeat="item in kolumny ">{{item}}</div>
            </div>
            <div class="wiersz" ng-repeat="(wie, wiersz) in wiersze">
                <div>{{wiersz}}</div>
                <div>
                    <div ng-repeat="(kol, item) in kolumny "  ng-click="wierszkolumna(wie, kol)"></div>
                </div>
                <div>{{wiersz}}</div>
            </div>
            <div class="litery">
                <div ng-repeat="item in kolumny ">{{item}}</div>
            </div>
            <div class="pionki">
                <div ng-class="klasa_pionek(pionek, 'czarny')" ng-click="pionekklik(pionek)"  ng-repeat="pionek in pionki.czarne"></div>
                <div ng-class="klasa_pionek(pionek, '')" ng-click="pionekklik(pionek)" ng-repeat="pionek in pionki.biale"></div>
            </div>
            <div class="pionki">
            </div>
        </div>
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.pionki = {
                                czarne : [],
                                biale : [],
                            }

			$scope.Obecnie_gra = 0; //bialy 0 a czarny 1
			$scope.komunikat = "Wybierz pionek";

            $scope.kolumny = ["A","B","C","D","E","F","G","H"]; //  
            $scope.wiersze = ["1","2","3","4","5","6","7","8"]; //  
            $scope.aktywnypionek = null;
            
			$scope.badanyWiersz = 0;
			$scope.badanaKolumna1 = 0;
			$scope.badanaKolumna2 = 0;
            
            $scope.pionekklik = function(pionek)
            {
				console.log(pionek);
				$scope.aktywnypionek = pionek;    

				$scope.czyWybranyPionekJestOK();

				if($scope.aktywnypionek != null)
				$scope.komunikat = "Wykonaj ruch";
				else
				$scope.komunikat = "Wybierz pionek";
            }

			$scope.czyWybranyPionekJestOK = function()
			{
				if($scope.aktywnypionek != null){

					if($scope.aktywnypionek.gracz != $scope.Obecnie_gra)
					{
						$scope.pionekklik(null);
						return;
					}
					
					$scope.badanyWiersz = $scope.aktywnypionek.gracz ? $scope.aktywnypionek.wiersz-1:$scope.aktywnypionek.wiersz+1;

					$scope.badanaKolumna1 = $scope.aktywnypionek.kolumna-1;
					$scope.badanaKolumna2 = $scope.aktywnypionek.kolumna+1;

					

					if($scope.badanyWiersz >= 0 && $scope.badanyWiersz < 8)
					{
						if(!($scope.badanaKolumna1 >=0 && $scope.badanaKolumna1 <8))
							$scope.badanaKolumna1 = -1;

						if(!($scope.badanaKolumna2 >=0 && $scope.badanaKolumna2 <8))
							$scope.badanaKolumna2 = -1;
						
						var kol1Zajeta = true;
						

						if($scope.badanaKolumna1 > -1)
						{
							kol1Zajeta = $scope.czyPoleJestZajete(
																$scope.badanyWiersz,
																$scope.badanaKolumna1,
																$scope.aktywnypionek.gracz? $scope.pionki.czarne : $scope.pionki.biale);
																							

						}
						
						var kol2Zajeta = true;

						if($scope.badanaKolumna2 > -1)
						{
							kol2Zajeta = $scope.czyPoleJestZajete(
																$scope.badanyWiersz,
																$scope.badanaKolumna2,
																$scope.aktywnypionek.gracz ? $scope.pionki.czarne : $scope.pionki.biale);
																							

						}
					}
				}				
			}
            
			$scope.czyPoleJestZajete = function(wiersz, kolumna, pionkiGracza)
			{
				var pionekWPolu = null;

				angular.forEach(pionkiGracza, function(pionek, indexPionka){
					if(wiersz == pionek.wiersz && kolumna == pionek.kolumna)
						pionekWPolu = pionek;
				});
				return pionekWPolu != null;
			}

            $scope.wierszkolumna = function(wiersz, kolumna)
            {
                if($scope.aktywnypionek != null)
                {
                    $scope.aktywnypionek.wiersz = wiersz;
                    $scope.aktywnypionek.kolumna = kolumna;

					$scope.Obecnie_gra = $scope.Obecnie_gra? 0:1;
					$scope.pionekklik(null);

				}
            }
            
            //pionek czarny a n3
            $scope.klasa_pionek = function(obj, kolor)
            {
                var klasa = "pionek " + kolor+ " " + $scope.kolumny[obj.kolumna] + " n" + (obj.wiersz+1);
                
                return  klasa;
            }
            
  
            for(i=0; i<4; i++)
            {
                var pionek = {
                    kolumna: (i * 2)+1,
					gracz:0,
                    wiersz:6
                }
                $scope.pionki.biale.push(pionek);
                var pionek = {
                    kolumna: (i * 2)+1,
					gracz:1,
                    wiersz:0
                }
                $scope.pionki.czarne.push(pionek);
                
                var pionek = {
                    kolumna: (i * 2),
					gracz:0,
                    wiersz:7
                }
                $scope.pionki.biale.push(pionek);
                var pionek = {
                    kolumna: (i * 2),
					gracz:1,
                    wiersz:1
                }
                $scope.pionki.czarne.push(pionek);
            }
        
            
        });
        </script>
        
    </body>
</html>