<!DOCTYPE html>
<html>
    <head>
        <title>Szachy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<link rel="Stylesheet" type="text/css" href="styl.css" />
    </head>
	
    <body ng-app="myApp" ng-controller="myCtrl">
        <div id="szachy">
            <div class="litery">
                <div ng-repeat="item in kolumny ">{{item}}</div>
            </div>
            <div class="wiersz" ng-repeat="wiersz in wiersze">
                <div>{{wiersz}}</div>
                <div>
                    <div ng-repeat="item in kolumny "></div>
                </div>
                <div>{{wiersz}}</div>
            </div>
            <div class="litery">
                <div ng-repeat="item in kolumny ">{{item}}</div>
            </div>
            <div class="pionki">
                <div ng-class="klasa_pionek(pionek, 'czarny')" ng-repeat="pionek in pionki.czarne"></div>
				<div ng-class="klasa_pionek(pionek, 'bialy')" ng-repeat="pionek in pionki.biale"></div>
            </div>
            <div class="pionki">
            </div>
        </div>
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.pionki = {
                                czarne : [
                                            {kolumna:1, wiersz:0},
                                            {kolumna:3, wiersz:0},
                                         ],
                                biale : [],
                            }
            $scope.kolumny = ["A","B","C","D","E","F","G","H"]; 
            $scope.wiersze = ["1","2","3","4","5","6","7","8"]; 
            
            $scope.klasa_pionek = function(obj, kolor)
            {
                let klasa = "pionek " + kolor+ " " + $scope.kolumny[obj.kolumna] + " n" + (obj.wiersz+1);
                
                return  klasa;
            }
            
			for(i=0;i<4;i++)
			{
			
			var pionek = {
			kolumna: (i*2)+1,
			wiersz:6
			}
			$scope.pionki.biale.push(pionek);

			var pionek = {
			kolumna: (i*2),
			wiersz:7
			}
			$scope.pionki.biale.push(pionek);
			
			var pionek = {
			kolumna: (i*2)+1,
			wiersz:0
			}
			$scope.pionki.czarne.push(pionek);
			
			
			var pionek = {
			kolumna: (i*2),
			wiersz:1
			}
			$scope.pionki.czarne.push(pionek);
			
			}          
        });
        </script>
        
    </body>
	
</html>